.top-menu {
    display: flex;
    align-items: center;
    height: 90px !important;
    min-height: 90px !important;
    background-color: #ffffff;
    padding: 0 3vw;
    border-bottom: 1px solid #e0e0e0;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav {
    height: 100%;
    display: flex;
    gap: 30px;
    margin-left: 5%;
}


.nav-item {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-item .icon {
    margin-left: 6px;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.notification-badge {
    margin-right: 24px;
    cursor: pointer;
}

.notification-icon {
    font-size: 20px;
    color: #595959;
}

.notification-icon:hover {
    color: #1890ff;
}

.user-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 24px;
}

.header-user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
}

.header-default-avatar {
    width: 60px;
    height: 60px;
    background-color: #5C7BBB;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}

.user-avatar {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px;
}

.user-avatar:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.username {
    margin-left: 8px;
    margin-right: 4px;
    color: #333;
}

.down_arrow {
    font-size: 60%;
    transform: translate(0%, 10%);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 70%; 
    width: auto; 
    object-fit: contain;
}
